#set ($temp = "")
#foreach ($schema in $schemas)
#set ($i = ${this.getImportPath($schema, ".", false)})
#if ($i != "")
$i
#set ($temp = $temp + "'${schema.getName()}'" + ",")
#end
#end
from elasticsearch_dsl import connections
import sys
import os
from kafka import KafkaProducer
sys.path.append(os.path.dirname(os.path.abspath(__file__)))

connections.create_connection(hosts=['localhost'])
producer = KafkaProducer(
        bootstrap_servers="localhost:9092")

__all__ = [$temp 'producer']
